<div class="kitten">
  <%= link_to image_tag(kitten.image), new_kitten_categorization_path(kitten) %>
<% kitten.categories.each do |category| %>
  <br>
  <%= category.name %>
  <br>
  <% end %>
</div>
